In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('meterDatabase.txt', sep=',', encoding='utf-8')
print(df.head())

      DeviceID        Date  Final_Daily_Readings  Daily_Consumption
0  111-111-111  2024-11-11                 934.6               13.2
1  111-111-111  2024-11-12                 946.2               11.6
2  111-111-111  2024-11-13                 961.4               15.2
3  111-111-111  2024-11-14                 973.1               11.7
4  111-111-111  2024-11-15                 978.8                5.7

In [3]:
df_sorted = df.sort_values('Date', ascending=True)
result = df_sorted.groupby('DeviceID').tail(1)

In [4]:
result

        DeviceID        Date  Final_Daily_Readings  Daily_Consumption
706  777-777-777  2025-02-19                1662.9               14.1
201  222-222-222  2025-02-19                1573.5                6.0
807  888-888-888  2025-02-19                1485.8                7.2
504  555-555-555  2025-02-19                1651.5               10.6
403  444-444-444  2025-02-19                1401.9               13.1
100  111-111-111  2025-02-19                1978.7               16.4
302  333-333-333  2025-02-19                1764.0                9.8
605  666-666-666  2025-02-19                1455.0               15.1
908  999-999-999  2025-02-19                1651.3               15.2